* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffdab9;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.btn {
  position: relative;
}

button {
  margin-left: 20px;
  padding: 10px 10px;
  background-color: #f62459;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  font-size: 12px;
}

button:hover {
  background-color: #ffb3a7;
}
h2 {
  font-size: 24px;
  text-align: center;
}
.WBWYform {
  max-width: 500px;
  margin: 2rem auto;
  border: 2px solid #db5a6b;
  padding: 2rem;
  border-radius: 5px;
}
label {
  display: block;
  width: 100%;
  padding: 1rem 0 0.25rem;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 2px solid azure;
  padding: 0.25rem;
  font-size: 16px;
  border-radius: 5px;
}

.submit {
  margin-top: 20px;
}
.copyright {
  text-align: center;
  margin-left: 50px;
  margin-top: 20px;
}
