* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-image {
  width: 100%;
}

.profile-image1 {
  height: 500px;
  width: 500px;
}

.profile-image1:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

.profile-text {
  color: red;
}
