@font-face {
  font-family: Abel-Regular, Helvetica, Arial, sans-serif;
  src: url(./fonts/Abel-Regular.ttf);
}
* {
  padding: 1px;
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  background-color: white;
  margin: 0;
  min-height: 100vh;
}

.main-nav,
.bottom-nav {
  background-color: #6c376e;
  font-family: Abel-Regular, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  border-bottom: solid #bda41d;
  margin-bottom: 15px;
  height: 70px;
  list-style: none;
}

.bottom-nav li {
  display: block;
  float: left;
  margin-left: 2px;
  text-decoration: none;
}

.main-nav li {
  display: block;
  float: left;
  margin-left: 2px;
}
a {
  color: #bda41d;
  text-decoration: none;
}

.main-nav li a:hover {
  color: #e61eb5;
}

@media (max-width: 600px) {
  .main-nav,
  .bottom-nav {
    height: 90px;
  }
}
