@font-face {
  font-family: Abel-Regular, Arial, Helvetica, sans-serif;
  src: url(./fonts/Abel-Regular.ttf);
}
* {
  margin: 1px;
  padding: 1px;
  box-sizing: border-box;
}
.nav_button {
  margin-left: 20px;
  padding: 10px 10px;
  background-color: #bd2978;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  font-size: 12px;
}

.nav_button:hover {
  background-color: #e61eb5;
}
.blog_title,
.blog_text,
.blog_date {
  font-family: Abel-Regular, Arial, Helvetica, sans-serif;
  src: url(./fonts/Abel-Regular.ttf);
}

.blog_title,
.blog_date {
  margin: 5px;
}
.blog_text {
  margin-bottom: 60px;
  min-width: 20em;
  max-width: 25em;
}

.blog_image {
  width: 300px;
  height: 200px;
}
@media (max-width: 600px) {
  .blog_text {
    min-width: 15em;
    max-width: 23em;
  }
}
