@font-face {
  font-family: Abel-Regular, Helvetica, Arial, sans-serif;
  src: url(./fonts/Abel-Regular.ttf);
}
* {
  margin: 1px;
  padding: 1px;
  box-sizing: border-box;
}

#booking_form {
  margin: 0 auto;
  width: 500px;
  border: solid #bda41d;
  border-radius: 5px;
  margin-bottom: 20px;
}

input {
  display: block;
  width: 100%;
  border: 2px solid black;
  padding: 0.25rem;
  font-size: 16px;
  border-radius: 5px;
  font-family: Abel-Regular, Helvetica, Arial, sans-serif;
}
label {
  display: block;
  width: 100%;
  padding: 1rem 0 0.25rem;
  font-family: Abel-Regular, Helvetica, Arial, sans-serif;
}

.btn {
  margin-left: 10px;
  padding: 9px 25px;
  background-color: #6e1846;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  font-family: Abel-Regular, Helvetica, Arial, sans-serif;
  color: #bda41d;
}

.btn:hover {
  background-color: #e61eb5;
}

.booking_title,
.booking_title_1,
.booking_title_2,
#form_1,
#bookingsubmissiontext {
  font-family: Abel-Regular, Helvetica, Arial, sans-serif;
}

.booking_title,
.booking_title_1,
.booking_title_2 {
  text-align: center;
}

#bookingsubmissiontext {
  margin-bottom: 450px;
}
@media (max-width: 600px) {
  #booking_form {
    margin: 0 auto;
    width: 300px;
  }
}
